20th june (day 7)

In [ ]:
p = 20 
q = 20
r = 20
p = q = r = 20

string

In [ ]:
s = 'hello python'
s
print(s[0:8])

hello py

In [ ]:
name = input("enter your name : ")
 print(name)
print(len(name))

mirza naveed baig
18

In [14]:
name = 'naveed mirza'
name[:-7]

'navee'

In [15]:
name = 'naveed'
name[0:5:2]

'nve'

In [20]:
s = 'hello python'
s[0:10:2]

'hlopt'

In [22]:
name = int(12.3)
print(type(name))

<class 'int'>

In [1]:
import numpy as np 
print(type(np.nan))

<class 'float'>

In [ ]:
num_1 = float(input("enter the number : "))
num_2 = float(input("enter the number : "))
sum_result = num_1 + num_2
print(f"sum: {num_1} + {num_2} = {sum_result}")

sum: 32.0 + 34.0 = 66.0

In [4]:
marks_eng = int(input("enter the number your want : "))
marks_hin = int(input("enter the number your want : "))
marks_marathi = int(input("enter the number your want : "))
marks_science = int(input("enter the number your want : "))
marks_math = int(input("enter the number your want : "))

total_marks = marks_eng + marks_marathi + marks_hin + marks_math + marks_science
average_marks = total_marks / 5

print(f"sum : {marks_eng} + {marks_hin} + {marks_marathi} + {marks_science} + {marks_math} = {total_marks}")
print("total marks are : ", total_marks)
print("average of total subjects : ", average_marks)

sum : 34 + 55 + 76 + 54 + 76 = 295
total marks are :  295
average of total subjects :  59.0