In [2]:
list = [1,2,3,4,5,50]
list[-1] = -50
print(list[-1])

-50

In [ ]:
list1 = list.copy() #copy funtion for copying all the string 
print(list1)

[1, 2, 3, 4, 5, -50]

In [6]:
list1 == list

True

In [8]:
print(list)
print(list1)

[1, 2, 3, 4, 5, -50]
[1, 2, 3, 4, 5, -50]

In [9]:
list.append(20)
print(list)

[1, 2, 3, 4, 5, -50, 20]

In [12]:
list.reverse()
print(list)

[20, -50, 5, 4, 3, 2, 1]

In [16]:
list.sort()
print(list)

[-50, 1, 2, 3, 4, 5, 20]

In [18]:
print(list[1:4])

[1, 2, 3]

In [19]:
print(list[0:])

[-50, 1, 2, 3, 4, 5, 20]

In [24]:
# list.clear()
# print(list)

In [27]:
list1.append("naveed")
print(list1)

['naveed', 'naveed', 'naveed', 'naveed']

In [28]:
names = ["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5]
names.append(["Ali", "Sara"])  # Nested list added
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5, ['Ali', 'Sara']]

In [32]:
for letters in names[1]:  # Print "Jack" line by line
    print(letters)

J
a
c
k

In [34]:
names[0:10:2]

['Krish', 'Jacob', 2, 4, ['Ali', 'Sara']]

In [31]:
names[:10]

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5, ['Ali', 'Sara']]

In [40]:
names = ['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5, ['Ali', 'Sara']]
names.insert(2, "naveed")
print(names)

['Krish', 'Jack', 'naveed', 'Jacob', 1, 2, 3, 4, 5, ['Ali', 'Sara']]

In [42]:
names.pop(2)

'naveed'

In [10]:
names = ["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5]
print(names.count)

<built-in method count of list object at 0x000001AEE81B6E80>

In [11]:
names = ["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5, "Jack", 2]
counted = []

for item in names:
    if item not in counted:
        print(f"{item} appears {names.count(item)} time(s)")
        counted.append(item)

Krish appears 1 time(s)
Jack appears 2 time(s)
Jacob appears 1 time(s)
1 appears 1 time(s)
2 appears 2 time(s)
3 appears 1 time(s)
4 appears 1 time(s)
5 appears 1 time(s)

In [ ]:
names = ["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5,]

for i in names:
    print(i)

SyntaxError: invalid syntax (3081352960.py, line 5)

In [ ]:
names = ["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5]

for index, value in enumerate(names):
    print(index, value)
# for index, value in enumerate(names):
#     print(index, value)

0 Krish
1 Jack
2 Jacob
3 1
4 2
5 3
6 4
7 5