In [ ]:
names = ["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5]

for index, value in enumerate(names):
    print(index, value)

In [8]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]
list3 = list1 + list2
print("list 3 is ", list3)
list1.extend(list2)
print("new list one is is ", list1)
print(list2)

list 3 is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
new list one is is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[6, 7, 8, 9, 0]

In [ ]:
ist1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]
list1.extend(list2)
print("new list one is is ", list1)

In [ ]:
alphabets = list("abcdefghijklmnopqrstuvwxyz")

alphabets.sort()            # A to Z
print("A to Z:", alphabets)

alphabets.reverse()         # Z to A
print("Z to A:", alphabets)

A to Z: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
Z to A: ['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
tpl = list()
print(tpl)
print(type(tpl))

[]
<class 'list'>

In [3]:
tpl = tuple()
print(tpl)
print(type(tpl))

()
<class 'tuple'>

In [7]:
numbers = (1,2,3,4,5)
print(type(numbers))
# numbers[-1]
numbers[0]

<class 'tuple'>

1

In [8]:
numbers[::]

(1, 2, 3, 4, 5)

In [13]:
mixed_tuples = ('naveed', 21,44,54)
concatinated_tuple = numbers + mixed_tuples
print(concatinated_tuple)
# concatinated_tuple.sort  tuples are immutabele so we cant change or modidy it

(1, 2, 3, 4, 5, 'naveed', 21, 44, 54)

In [18]:
mixed_tuples * 3
numbers * 5

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [21]:
mixed_tuples.count(2)
numbers.count(2)

1

In [22]:
numbers.value(2)

AttributeError: 'tuple' object has no attribute 'value'

In [23]:
print(numbers.count(2))

1

In [ ]:
numbers = (21,211,12,32,2,2,2)
print(numbers.count(2))
print(numbers.index(22))

3

In [ ]:
print(numbers.index(22))

1