In [11]:
s1= set()
print(type(s1))

<class 'set'>

In [12]:
s1.add(50)

In [13]:
s1

{50}

In [17]:
s2 = set()
s2.add(40)
s2.add(43)
s2.add(21)
s2.add(21)
print(s2)
print(type(s2))

{40, 43, 21}
<class 'set'>

In [19]:
s3 = set(100,40,53,21)
s4 = set(1.2, True, (1+3j), 'nit', 10)

TypeError: set expected at most 1 argument, got 4

In [20]:
s3 = set([100, 40, 53, 21])
s4 = set([1.2, True, (1+3j), 'nit', 10])

print("Set 3:", s3)
print("Set 4:", s4)
s3 == s4

Set 3: {40, 21, 100, 53}
Set 4: {1.2, True, (1+3j), 10, 'nit'}

False

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

print(set1.difference(set2))

{1, 2, 3}

In [10]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9,2,1}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [15]:
text = "Hello friends my name is mirza Naveed baig i study about data science"

words = text.split()

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'is', 'mirza', 'i', 'baig', 'study', 'about', 'data', 'Hello', 'friends', 'name', 'my', 'Naveed', 'science'}
13

In [20]:
intro = "hello friends my name is naveed baig i am from india and planning to study abroad "
detail = intro.split()

unique = set(detail)
print(unique)
print(len(unique))
unique.remove('india')
print(unique)

{'is', 'i', 'baig', 'planning', 'study', 'india', 'hello', 'am', 'friends', 'abroad', 'name', 'and', 'to', 'my', 'naveed', 'from'}
16
{'is', 'i', 'baig', 'planning', 'study', 'hello', 'am', 'friends', 'abroad', 'name', 'and', 'to', 'my', 'naveed', 'from'}

In [3]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [6]:
students = {"name" : "Naveed", "age" :32, "marks" : 43}
print(students)
print(type(empty_dict))

{'name': 'Naveed', 'age': 32, 'marks': 43}
<class 'dict'>

In [8]:
print(students['name'])

Naveed

In [10]:
print(students['name'])

Naveed