In [ ]:
print('data science ')
print('data science ')
print('data science ')
print('data science ')
print('data science ')

In [ ]:
for i in range(0,5):
    print("data science ")
    i = i+1

In [ ]:
i = 0 

while i<=5:
    print("data science")
    i = i+1

In [ ]:
i = 5 

while i<=0:
    print("data science")
    i = i-1

In [ ]:
i = 5

while i>=0:
    print("data science : ", i )
    i = i-1

In [ ]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

In [ ]:
i = 1 
while i<=5:
    print("data science: ", i )
    i = i + 1

In [ ]:
i = 1
while i <=5:
    print("data science :", i )
    i = i+1

In [ ]:
i = 5 
while i>=0:
    print("data science :", i)
    i = i-1

In [ ]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

In [ ]:
i = 1 
while i<=4:
    print("data science ")
    j = 1
    while j<= 3:
        print("tech")
        j = j+1

    i = i + 1 
    print()

In [ ]:
i = 5
for i in range (5):
    print(" ",* "data science ")

    i = i+1

In [ ]:
i = 5 

for i in range(5):
    print("data science : ", i)

    i = i+1

In [ ]:
i = 1
while i<=5:
    print("Mirza")
    j = 1
    while j<=4:
        print("Naveed")

        j= j+1
    i = i+1
    print()

In [ ]:
i = 1
while i<=5:
    print("Mirza", end=" ")
    j = 1
    while j<=4:
        print("Naveed", end= " ")

        j= j+1
    i = i+1
    print()

In [ ]:
i = 5
while i >=1:
    print("data science : ", i )
    i = i-1

In [ ]:
i = 6
while i>=1:
    print("my name is naveed for the ", i,"th time ")
    i = i-1

In [ ]:

i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

In [ ]:
i = 1 
while i<=2:
    j = 0
    while j<=2:
        print(i*j, end=" ")
        j = j + 1
    print()
    i = i+1

In [ ]:
i = 1 
while i<=4:
    j = 0 
    while j <=3:
        print(i * j, end=" ")
        j = j+1
    print()
    i = i+1

In [ ]:
i = 2 
while i <=5:
    j = 0
    while j<=7:
        print(i*j, end=" ")
        j = j+1
    print()
    i = i+1

In [ ]:
name = 'Naveed'

for i in name:
    print(i)

In [ ]:
Names = ["naveed", "sufyan", "shajil", "adnan"]

for name in Names:
    print(name)

In [ ]:
lists = [32,12,12,12,43,21,"naveed"]
for list in lists:
    print(list)

In [ ]:
for i in range(11):
    print(f"{i} x {i+1} = {i * (i+1)}")

In [ ]:
for i in range(1, 11):
    print(f"2 x {i} = {2 * i}")

In [ ]:
for i in range(1,11):
    print(f"2 x {i+ 1 } = {2*i }")

In [ ]:
for i in range (1,11):
    print(f"12 x {i+1} = {2 * i}")

In [ ]:
for i in range(1,10,3):
    print(i)

In [ ]:
for i in range (1,51):
    if i%5==0:
        print(i)

In [ ]:
for i in range(1,21):
    
    if i%5!=0 :
        print(i)

In [ ]:
for i in range(2,20):
    if i%5!=0:
        print(i)

In [ ]:
x = int(input('How many balls do  you want: ?'))

i = 1
while i<=x:
    print('balls')
    i += 1

In [ ]:
# stock = 6
# customer = int(input("How many balls do u wnat ??"))

# i = 1
# while i<=stock:
#     if i>customer:
#         print("Balls" * i)
#     else:
#         print("not available stock")

# i = i + 1

# print("Bye nice to meet you ")

In [42]:
stock = 6
customer = int(input("How many balls do you want? "))

if customer <= stock:
    print("Balls " * customer)
else:
    print("Not enough stock available")

print("Bye, nice to meet you!")

Not enough stock available
Bye, nice to meet you!

In [45]:
stock = 6
customer = int(input("How many balls do you want? "))

i = 1
while i <= customer:
    if customer <= stock:
        print("Ball", i)
    else:
        print("Not enough stock available")
        break  
    i += 1

print("Bye, nice to meet you")

Ball 1
Ball 2
Ball 3
Bye, nice to meet you